# Obsidian
.trash
.obsidian/app.json
.obsidian/workspace*.json
.obsidian/graph.json

# MKDocs
.cache

# GM Stuff
plot
secret
scratchpad.md

# Private Files
*local*

# Editor Config
.vscode/**/*
